.no-button {
  position: absolute;
  background: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: var(--shadow);
  transform: translate(-50%, -50%);
}

.no-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
